---
import GoogleLayout from "../../layouts/GoogleLayout.astro";
---

<GoogleLayout title="Research Fellowship">
  <head slot="head">
    <meta http-equiv="refresh" content="0; url=/programs/overview" />
  </head>
  <div class="flex items-center justify-center min-h-[50vh]">
    <p class="text-xl text-gray-600">
      Redirecting to the program overview… <a href="/programs/overview" class="text-blue-600 hover:underline">Continue</a>
    </p>
  </div>
</GoogleLayout>
